@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
$font-family_1: monospace;
$app-back_1: #1c1c1c;
$app-back_2: #222222;
$app-back_3: #252525;
$app-back_Hover: #343434;
$background-color_1: #8d8d8d;
$background-color_2: #abd485;
$text-color: #ededed;
$text-muted: #9f9f9f;
$selected: #5f9a27;
$seek-before-width: 20;
$bar-bg: #d8d8d8;
$box-shadow: #34502c;
$borderB: #474747;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
  box-sizing: border-box;
  background-color: $app-back_1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

.discover {
  margin-top: 70px;
  margin-bottom: 7.1rem;
}
.body-wrapper {
  padding: 0rem 0rem;
  margin-left: 240px;
  @media (max-width: 768px) {
    margin-left: 0px;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: $app-back_3;
  border-bottom: 1px solid $borderB;
  height: 60px;
  margin-left: 240px;
  z-index: 1;
  .header-nav {
    width: 100%;
    margin: auto 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search-container {
      position: relative;
      display: flex;
      align-items: center;
      border: 0.7px solid $borderB;
      border-radius: 1rem;
      input {
        padding: 0.5rem 2rem 0.5rem 0.5rem;
        border: none;
        background-color: transparent;
        font-size: 1rem;
        color: $text-color;
        min-width: 22rem;
        outline: none;
        @media (max-width: 460px) {
          min-width: 17rem;
        }
        &::placeholder {
          color: #999;
        }
      }
      .search-icon {
        padding-left: 0.5rem;
        color: #999;
        font-size: 1.7rem;
      }
    }
  }
}
//items start from left
.slick-track {
  margin-left: 0rem !important;
}
.component-title {
  margin-left: 1rem;
}

.cart-wrapper {
  padding: 0rem 1rem;
  padding-bottom: 1.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: $text-color;
  text-align: start;
  &:hover {
    color: $bar-bg;
  }
  .aa {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    position: relative;
    border: none;
    box-shadow: none;

    .card-img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.773546918767507) 13%,
        rgba(255, 255, 255, 0) 100%
      );
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 1;
      }
      .artist {
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }
    }

    .overlay-icon {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      height: 100%;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      .star-icon {
        background-color: #c6000000;
      }
      a {
        color: #ffffff;
        background-color: #c60000;
        margin: 0rem 0rem;
        padding: 0rem 0.3rem 0rem 0.4rem;
        padding-bottom: 0.2rem;
        border-radius: 50%;
        align-content: center;
        &:hover {
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
        i {
          font-size: 1.1rem;
        }
      }
    }
    &:hover {
      .overlay-icon {
        opacity: 1;
      }
    }
  }
  .artist-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
  }
  .banner {
    .content-banner {
      display: flex;
      justify-content: space-between;
      a {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover {
          text-decoration: underline;
          color: inherit;
        }
      }
    }
    .sub-title {
      font-size: 0.8rem;
      &:hover {
        color: #ededed;
        font-size: 1rem;
      }
    }
  }
}

.nav-drop {
  .onsidebar {
    margin-right: 1rem;
    @media (min-width: 768px) {
      display: none;
    }
  }
  .nav-link {
    padding: 0rem 0.5rem;
    &::after {
      display: none;
    }
  }
  .nav-item {
    background-color: #363636be;
    border-radius: 50%;
    font-size: 1.2rem;

    .dropdown-item {
      font-size: 1rem;
    }

    a {
      color: #c7c7c7;
      font-size: 1.8rem;

      &::before {
        content: none;
      }
    }
  }
  .dropdown-menu {
    background-color: $app-back_3;
  }
}
.player-wrapper {
  border-top: 1px solid $borderB;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  margin-left: 0rem;
  background-color: $app-back_3;
}
//SIDEBAR
.sidebar-wrapper {
  padding-left: 0rem;
  background-color: $app-back_3;
  border-right: 1px solid $borderB;
  height: 100vh;
  width: 240px;
  display: flex;
  align-items: flex-start;
  z-index: 3;
  position: fixed;
  @media (max-width: 768px) {
    height: auto;
    width: 100%;
  }

  .sidebar {
    padding: 0rem 0rem;
    width: 100%;
    margin-left: 0.6rem;
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
    .navbar-toggler {
      right: 1rem;
    }
    .logo {
      height: 60px;
      width: 240px;
      border-bottom: 1px solid $borderB;
      @media (max-width: 768px) {
        border-bottom: none;
      }
      img {
        height: 60px;
        width: 220px;
        object-fit: contain;
        padding: 1rem;
      }
    }

    .listSideBar {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.5rem;
      font-size: 1.1rem;
      min-width: 13rem;
      i {
        margin-right: 1rem;
        font-size: 1.5rem;
      }
      &:hover {
        border-radius: 2px;
        min-width: 13rem;
        color: $text-color;
        background-color: $app-back_Hover;
      }
    }
    .dropdown {
      .badge {
        margin-left: 0.3rem;
        background-color: $borderB !important;
      }
      button {
        margin-top: 1rem;
        border: none;
        background-color: transparent;
        color: $text-color;
      }
    }
  }
}

//player

.playerContainer {
  display: flex;
  background-color: $app-back_3;
  width: 100%;
  height: 6rem;
  z-index: 1;
  align-items: center;
  justify-content: center;
  align-items: center;

  .raw {
    margin: 0rem 0rem;
  }
  .col {
    padding: 0rem;
  }
  .musicBanner {
    display: flex;
    color: #fff;
    align-items: flex-start;
    height: 100%;
    padding: 0.3rem;
    padding-left: 1rem;
    img {
      width: 80px;
      margin-right: 0.4rem;
      @media (max-width: 768px) {
        width: 60px;
      }
    }
    .musicBannerContent {
      display: flex;
      flex-direction: column;
      span {
        font-size: 1rem;
        margin-bottom: 2px;
      }
      p {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 14px;
        color: #b5b5b5;
      }
      @media (max-width: 768px) {
        span {
          font-size: 0.9rem;
        }
        p {
          font-size: 0.8rem;
          color: #b5b5b5;
        }
      }
    }
  }

  .inputButtons {
    height: 6rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    @media (max-width: 500px) {
      justify-content: center;
    }
    .progressBar {
      display: flex;
      align-items: center;
      position: relative;
      bottom: 8px;
      right: 10px;
      @media (max-width: 500px) {
        display: none;
      }
      .currentTime {
        color: #8b8b8b;
        font-size: 0.9rem;
        margin-right: 10px;
      }

      .currentProgress {
        --seek-before-width: 0px;
        appearance: none;
        border-radius: 10px;
        width: 40vw;
        min-width: 180px;
        margin: 0 10px;
        background-color: $borderB;
        height: 5px;
        outline: none;

        ::-webkit-slider-thumb {
          appearance: none;
          height: 14px;
          width: 14px;
          background-color: #a7a7a7;
          border-radius: 50%;
          border: none;
          cursor: pointer;
          position: relative;
          z-index: 3;
          box-sizing: border-box;
        }

        :active::-webkit-slider-thumb {
          transform: scale(1.2);
        }
        /* style the progress */
        &::-webkit-slider-thumb {
          background-image: linear-gradient(
            to right,
            #c7c7c7 0%,
            #a7a7a7 calc(var(--seek-before-width) / 100),
            #ff0000 calc(var(--seek-before-width) / 100),
            #ff0101 100%
          );
        }
      }

      .duration {
        color: #8b8b8b;
        font-size: 0.9rem;
      }
    }

    .buttons {
      display: flex;
      position: relative;
      bottom: 5;

      .clockwise {
        font-size: 0.6rem;
        i {
          font-size: 1.4rem;
        }
        @media (max-width: 500px) {
          display: none;
        }
      }
      .playPause {
        margin: 0 5px;
      }
      button {
        border: none;
        outline: none;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        color: $text-color;
        font-size: 1.4rem;
      }
    }
  }

  .volumeC {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    height: 6rem;
    @media (max-width: 768px) {
      display: none;
    }
    .volome-icons {
      padding-right: 1rem;
      @media (max-width: 800px) {
        padding-right: 0rem;
      }
      button {
        margin-right: 0.5rem;
        @media (max-width: 800px) {
          margin-right: 0rem;
        }
      }
      .randomMusicsButton {
        background-color: transparent;
        border: none;
        i {
          color: $text-color;
          font-size: 1.4rem;
        }
      }
    }

    .volumeProgress {
      display: inline-flex;
      align-items: center;
      input {
        appearance: none;
        border-radius: 10px;
        background-color: #494a4d;
        height: 5px;
        outline: none;
        margin-right: 1rem;
        width: 100%;
      }
      input::-webkit-slider-thumb {
        appearance: none;
        height: 14px;
        width: 14px;
        background-color: #fff;
        border-radius: 50%;
      }
      .volumeButton {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        i {
          color: $text-color;
          font-size: 1.4rem;
        }
      }
    }
  }
}

//playlist
.list {
  margin-top: 75px;
  margin-bottom: 7.1rem;
  margin-left: 1rem;
  .card-body {
    padding: 0rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 16px;
    color: $text-color;

    caption {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 8px;
    }
    tr {
      &:hover {
        background-color: $app-back_Hover;
      }
    }
    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid $borderB;
      vertical-align: middle;

      &:first-child {
        width: 20px;
        text-align: center;
      }

      &:nth-child(2) {
        display: flex;
        align-items: center;
        img {
          width: 40px;
          height: 40px;
          margin-right: 16px;
        }
      }
      &:nth-child(3) {
        text-align: end;
        font-size: 1.4rem;
        cursor: pointer;
        max-width: 1rem;
      }
      &:nth-child(4) {
        text-align: end;
        font-size: 1.4rem;
        cursor: pointer;
        max-width: 1rem;
      }

      &:last-child {
        text-align: center;
        font-size: 1.4rem;
        cursor: pointer;
        max-width: 1rem;
        padding-right: 1rem;
      }
      @media (max-width: 1200px) {
        &:nth-child(3) {
          text-align: end;
          font-size: 1.4rem;
          cursor: pointer;
          min-width: 2rem;
        }
        &:nth-child(4) {
          text-align: end;
          font-size: 1.4rem;
          cursor: pointer;
          min-width: 2rem;
        }

        &:last-child {
          text-align: center;
          font-size: 1.4rem;
          cursor: pointer;
          min-width: 2rem;
        }
      }
    }
  }
}
.footer {
  margin-top: 2rem;
  p {
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    color: $text-muted;
    cursor: pointer;
  }
  .tab1 {
    display: flex;
    flex-direction: row;
    .footer-more {
      margin-left: 1rem;
      margin-right: 4rem;
    }
  }
  .tab2 {
    span {
      color: $text-muted;
      margin-right: 1rem;
      font-size: 0.9rem;
      cursor: pointer;
    }
  }
}
